<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>${{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>

